* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/****** styles for top menu ******/

.flex-topmenu {
    display: inline-flex;
    align-items: center;
    box-shadow: 0 0.45rem 0.85rem rgba(0, 0, 0, .05);
    padding: 15px 24px;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
}

h5 {
    font-size: 20px;
    font-weight: 400;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    text-wrap: nowrap;
    color: #343a40;
}

.nav {
    padding: 0 10px;
    text-decoration: none;
    color: #343a40;
}

.nav:hover {
    text-decoration: underline;
}

.signup {
    padding: 4px 10px 5px;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    text-wrap: nowrap;
}

.signup:hover {
    background-color: #007bff;
    color: #fff;
}

/****** styles for Pricing heading ******/

.price {
    display: flexbox;
    justify-content: center;    
    color: #343a40;
    width: 700px;
    height: 253px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 56px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
}

p {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
}

/****** styles for price boxes ******/

.flex-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.box {
    width: 288px;
    margin: 20px;
}

.box2 {
    border: 1px solid #cbcbcb;
    margin: 0;
    border-top: 1px solid #fff;
}

h2 {
    border: 1px solid #cbcbcb;
    background-color: #f1f1f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 400;
    text-align: center;
    padding: 8px 0;
    margin: 0;
}

.price-m {
    font-weight: 500;
    font-size: 40px;
    margin: 5px 0;
}

span {
    color: #6f6f6f;
    font-weight: 400;
}

.explain {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

.signup2 {
    display: block;
    text-align: center;
    padding: 4px 10px 5px;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    text-wrap: nowrap;
    margin: 20px;
}

.signup2:hover {
    background-color: #007bff;
    color: #fff;
}

.get-contuct {
    display: block;
    text-align: center;
    padding: 4px 10px 5px;
    text-decoration: none;
    border: 1px solid #007bff;
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
    text-wrap: nowrap;
    margin: 20px;
}

.get-contuct:hover {
    background-color: #0069d8;
    color: #fff;
}