* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
}

html {
    font-size: 16px;
}

nav {
	background-color: #333;
	padding: 10px;
}

nav ul {
	display: flex;
    flex-wrap: wrap;
    gap: 1rem;
	list-style-type: none;
	padding: 0.2rem;
	margin: 0;
}

nav li a {
	color: white;
	text-decoration: none;
}

#nav-toggle {
	display: none;
}

.hamburger {
	display: none;
}


@media screen and (max-width: 767px) {
	nav ul {
        display: none;
    }
    .hamburger {
        display: block;
        font-size: 24px;
        color: white;
        cursor: pointer;
    }
    #nav-toggle:checked ~ ul {
        display: flex;
        flex-direction: column;
        gap:0.6rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    
}