.navbar {
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a2a2a;
    padding: 15px;
  }

  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar li {
    margin-right: 20px;
  }

  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  .navbar a:hover {
    color: #ffcc00; 
  }
  .active-link {
    color: green;
    font-weight: bold;
  }