* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

.post {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px;
}

.post-body {
  color: #666;
  margin: 0;
}

.form{
  display: flex;
  flex-direction: column;
  width: 600px;
}

.titleText{
  margin-top: 20px;
  height: 60px;
  margin-bottom: 50px;
}

.bodyText{
  margin-top: 20px;
  height: 400px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  border: 1px solid gray;
  color: gray;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.delete-btn{
  margin-bottom: 100px;
}

#successMessage{
  width: 200px;
  height: 100px;
  color: black;
}

.hidden{
  display: none;
}

.create-btn{
  margin-top: 50px;
  margin-bottom: 75px;
}

.button--success {
  background-color: #4CAF50;
}

.button--success:hover {
  background-color: #45a049;
}


.button--danger {
  background-color: #7a0916;
}

.button--danger:hover {
  background-color: #79000cf4;
}
