.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.form-input{
    height: 30px;
    width: 60%;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px;
}

.create-btn{
    width: 25%;
}