.recipe-list-container h2 {
  margin-left: 1rem;
}
.recipe-list-container ul {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.recipe-list-container ul li:hover {
  text-decoration: underline;
  opacity: 0.7;
}
