@media all and (min-width:1200px) { 
  .container {
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px 1fr 300px;
  grid-template-areas: 
  "header header header"
  "sidebar-left content sidebar-right"
  "footer footer footer";
  gap: 1rem;
  }
}

@media all and  (max-width:768px) { 
  .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows:  70px 1fr 400px;
      grid-template-areas: 
      "header header"
      "content content"
      "footer footer";
      gap:0.5rem;
  }
  .sidebar {
      display: none;
  }
}

@media all and (max-width:480px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows:  50px 1fr 500px;
    grid-template-areas: 
    "header "
    "content"
    "footer"
  }
}
