img {
    width: 400px;
    height: 400px;
    overflow: hidden;
    transition:1s all;
    border-radius: 4px;
}
img:hover {
    transform: scale(1.1);
}
.detail-container {
    margin-left: 30px;
    padding: 10px;
}
.detail-container p {
   text-indent: 5px;
   line-height: 1.6;
   font-style: italic;
}

button {
   width: 20%;
   padding: 5px;
   border:none;
   background-color: #a80216;
   color:#fff;
   border-radius: 3px;
   margin: 0 auto;
}
button:hover{
    background-color: #830513;
}

@media only screen and (max-width:600px) {
    img {
        width: 120px;
        height: 120px;
    }
    button{
        width: 100%;
    }
}