img {
    width: 400px;
    height: 400px;
    overflow: hidden;
    transition:1s all;
    border-radius: 4px;
}
img:hover {
    width: 450px;
    height: 450px;
}
.detail-container {
    margin-left: 30px;
    padding: 10px;
}
.detail-container p {
   text-indent: 5px;
   line-height: 1.6;
   font-style: italic;
}
