nav {
  border-bottom: 1px solid rgba(21, 95, 91, 0.4);
  box-shadow: 0px 2px 3px rgba(66, 155, 150, 0.4);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.nav-right {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

nav ul .nav-link a {
  color: var(--color-link-text);
}
nav ul .nav-link {
  display: inline-block;
  background-color: var(--color-link-bg);
  padding: 10px;
  border: none;
  border-radius: var(--btn-radius);
}
nav ul .nav-link:hover {
  background-color: var(--color-linkHover-bg);
}
@media screen and (max-width: 760px) {
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
