body {
    text-align: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-input {
    padding: 8px; 
}
.form-input:focus {
    outline: 0;
    border: 1px solid #259cb9;
}
.form-btn {
    padding: 8px;
    font-weight: 600;
    color: #fff;
    background-color: #008612;
    border:none;
    border-radius: 5px;
    font-size: 1rem;
}
.form-btn:hover {
    background-color: #017911;
}
.alert-text {
    color: #fff;
    background-color: #630303;
}