.results {
    background-color: brown;
    display:inline-flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
  
}

.results-heading {
    color: white;
    margin: 0;
    border-bottom: 3px solid white;
}

.results-list {
    list-style: none;
    text-align: right;
}

.results-item-link {
    text-decoration: none;
    color: white;
}

.results-item {
    padding: 2px;
}
.results-item:hover {
    border-radius: 5px;
    background-color: rgb(232, 148, 148);
}