.parent{
    background-color: bisque;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid brown;
    border-radius: 6px;
    margin-top: 20px;
}

.parent:hover{
    cursor: pointer;
}

.child{
    background-color: blanchedalmond;
    border: 1px solid salmon;
    border-radius: 6px;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child:hover{
    cursor: alias;
}