.new-recipe-form {
  margin: 20px auto;
  max-width: 680px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin: 10px 0;
}

input, select {
  border-radius: 5px;
  border: 1px solid rgb(194, 194, 194);
  height: 2rem;
  padding-left: 10px;
}
span {
  font-size: 0.8rem;
  padding-left: 10px;
}

.input-error {
  color: #ff0000;
}

button {
  margin: 10px 0;
}

button {
  background-color: rgb(255, 209, 209);
  color:brown;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  height: 2rem;
  padding: 10px;
}

button:hover {
  background-color: rgb(232, 148, 148);
}